.idea

.DS_Store
._.DS_Store

vendor
vendor-bower
dev

log/*.log

wp-content/db.php
wp-content/uploads/*
!wp-content/uploads/index.php
wp-content/files_mf
wp-content/themes/*
!wp-content/themes/twentyseventeen
!wp-content/themes/index.php
wp-config-local.php
