<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} ^/component-manager/asset/
    RewriteRule ^component-manager/asset/([^?]*) /component-manager/asset.php?_filename_=$1 [L,QSA]

    RewriteCond %{REQUEST_URI} ^/component-manager/request/
    RewriteRule ^component-manager/request/([^?]*) /component-manager/request.php?_component_=$1 [L,QSA]

</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
